.item-image {
  height: 180px;
  width: 190px;
  border-radius: 10px;
}

.item-card {
  padding: 10px;
  border-radius: 20px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  margin: 10px 0px;
  align-items: center;
}

.buttons {
  display: flex;
  height: 20px;
  width: 70px;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 15px;
  width: 15px;
  background-color: black;
  color: white;
  border-width: 0px;
  cursor: pointer;
}
